[project]
	description = test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/frozenpotato
[access "refs/for/refs/*"]
	read = group user/frozenpotato
	push = group user/frozenpotato
	label-Code-Review = -2..+2 group user/frozenpotato
	label-Verified = -1..+1 group user/frozenpotato
	rebase = group user/frozenpotato
	removeReviewer = group user/frozenpotato
	submit = group user/frozenpotato
[access "refs/heads/*"]
	read = group user/frozenpotato
	create = group user/frozenpotato
	push = +force group user/frozenpotato
	pushMerge = group user/frozenpotato
[access "refs/tags/*"]
	push = group user/frozenpotato
	push = +force group user/frozenpotato
